/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
html {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  h1 {
    font-family: "playfair-display";
    font-size: 4em;
    line-height: 1em;
    text-align: left;
    color: #42033d;
  }
  
  h2 {
    font-family: "source-sans-pro";
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: left;
    color: #42033d;
  }
  
  p {
    font-family: "source-sans-pro";
    font-size: 1.25em;
    line-height: 1.4em;
    text-align: left;
    color: #42033d;
  }
  
  body {
    background-color: #f2e1bd;
    overflow: hidden;
    max-width: 100%;
    line-height: 1.5em;
  }
  
  header {
    background-color: #42033d;
  }
  
  li {
    list-style: none;
    font-family: "source-sans-pro";
    line-height: 1.5em;
    text-align: left;
    color: #42033d;
  }
  
  a {
    color: #f2e1bd;
    text-decoration: none;
  }
  
  figcaption {
    font-size: 1.2em;
  }
  
  .navBar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding:0;
  }
  
  .navBranding {
    font-size: 2em;
  }
  
  .navLink:hover {
    color: #dd85a5;
  }

  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #f2e1bd;
  }
  
  .highEnergy a,
  .lowEnergy a,
  .energy a,
  .location a {
    display: block;
  }
  
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 80%;
    padding: 0;
    margin: auto;
  }
  
  .welcome a.button {
    border: 2px solid #dd85a5;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    background-color: #42033d;
    color: #f2e1bd;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .welcome a.button:hover {
    background-color: #dd85a5;
    border-color: #dd85a5;
  }
  
  .welcome img {
    max-width: 48%;
    border-radius: 10px;
    margin: 2em;
  }
  
  .energy {
    width: 80%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .energy ul {
    padding: 0;
  }
  .energy li {
    margin: 0.5em;
    width: 100%;
  }
  
  .energy li a {
    color: #42033d;
  }
  
  .energy figure {
    width: 100%;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
  }
  .energy img {
    object-fit: cover;
    border: 2px solid #dd85a5;
    border-radius: 10px;
  }
  
  .highEnergyOption img,
  .lowEnergyOption img {
    border-radius: 10px;
    margin: 0.5em;
    width: 90%;
    transition: border-width 0.5s ease;
  }
  
  .highEnergyOption img:active,
  .lowEnergyOption img:active {
    border-width: 20px;
  }
  
  .highEnergy {
    width: 80%;
    padding: 0;
    margin: auto;
  }
  
  .highEnergy ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: auto;
  }
  
  .highEnergy li a {
    color: #42033d;
  }
  
  .highEnergy figure,
  .lowEnergy figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
  }
  
  .lowEnergy {
    width: 80%;
    padding: 0;
    margin: auto;
  }
  
  .lowEnergy ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: auto;
  }
  
  .lowEnergy li {
    margin: 0.5em;
    width: 100%;
  }
  
  .lowEnergy li a {
    color: #42033d;
  }
  
  /* Default border style */
  .competitive img,
  .adventurous img,
  .nature img,
  .creative img {
    border: 2px solid #dd85a5;
    border-radius: 10px;
    margin: 0.5em;
    width: 90%;
    transition: border-width 0.5s ease;
  }
  .competitive img:active,
  .adventurous img:active,
  .nature img:active,
  .creative img:active {
    border-width: 20px;
  }
  
  .location {
    padding: 3em;
    margin: auto;
  }
  
  .location ul {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-around;
    padding: 0;
    margin: auto;
  }
  
  .location li {
    border: 2px solid #dd85a5;
    padding: 1em 1.2em;
    margin: 1em;
    background-color: #42033d;
    color: #f2e1bd;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.25em;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .location li:active {
    border-width: 10px;
  }
  
  button {
    border: 2px solid #42033d;
    background-color: #dd85a5;
    color: #f2e1bd;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-family: "playfair-display";
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    float: right;
    margin:.5em;
  }
  
  button:hover {
    background-color: #42033d;
    border-color: #dd85a5;
  }
  
  .about {
    background-color: #f2e1bd;
    color: #42033d;
    padding: 3em;
    margin: 0;
  }
  
  .about ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap: 8px;
  }
  
  .about li {
    border: 2px solid #dd85a5;
    border-radius:10px;
    padding: 1em;
    width: 40%;
    text-align: center;
  }
  .about li:hover{
    background-color: #dd85a5;
  }
  .about li a {
    color: #42033d;
    text-decoration: none;
  }
  
  .results {
    width: 60%;
    margin: auto;
  }
  
  .results li {
    list-style: disc;
    font-size: 1.25em;
    font-family: "source-sans-pro";
  }
  
  .results a {
    border: 2px solid #dd85a5;
    padding: 10px 20px;
    margin-top: 2em;
    background-color: #42033d;
    color: #f2e1bd;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .results a:hover {
    background-color: #dd85a5;
    border-color: #dd85a5;
  }
  
  @media (min-width: 800px) {
    .welcome {
      display: flex;
      flex-direction: row;
    }
    .energy ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      min-width: 48%;
    }
    .energy li {
      width: 100%;
      margin: 2em;
    }
    .energy li a {
      color: #42033d;
    }
    .highEnergy ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      min-width: 40%;
    }
  
    .highEnergy li {
      width: 100%;
      margin: 2em;
    }
  
    .highEnergy li a {
      color: #42033d;
    }
    .lowEnergy ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      min-width: 48%;
    }
    .lowEnergy li {
      width: 100%;
      margin: 2em;
    }
  
    .lowEnergy li a {
      color: #42033d;
    }
  
    .location ul {
      flex-direction: row;
    }
    .about ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .about li {
      width: 40%;
      margin: 0.25em;
      text-align: center;
      justify-content: space-between;
    }
  
    .about li a {
      color: #42033d;
    }
  }
  